.cell {
	width: 62px;
	height: 62px;
	border: 2px solid var(--color-border);
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	background: var(--color-background);
	border-radius: 4px;
	color: var(--color-text);
	transition: background-color var(--transition-speed) ease-in-out,
				border-color var(--transition-speed) ease-in-out,
				color var(--transition-speed) ease-in-out;
}

.cell:not(:empty) {
	border-color: var(--color-gray-400);
}

.cell:hover {
	border-color: var(--color-gray-500);
}

.cell:first-of-type {
	--radius: 4px 0px 0px 4px;
}

.cell:last-of-type {
	--radius: 0px 4px 4px 0px;
}

.correct {
	background: var(--color-success);
	border-color: var(--color-success);
	color: white;
}

.incorrect {
	background: var(--color-gray-300);
	border-color: var(--color-gray-300);
	color: white;
}

.misplaced {
	background: var(--color-warning);
	border-color: var(--color-warning);
	color: white;
}
