.cell {
	width: 62px;
	height: 62px;
	border: 2px solid var(--color-gray-700);
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	background: var(--color-background);
	perspective: 1000px;
	transform-style: preserve-3d;
	backface-visibility: visible;
	border-radius: var(--radius, 4px);
	transition: border-color 0.15s ease;
}

.cell:hover {
	transform: scale(1.05);
}

.cell:first-of-type {
	--radius: 4px 0px 0px 0px;
}
.cell:last-of-type {
	--radius: 0px 4px 0px 0px;
}
.cell:last-of-type {
	--radius: 0px 0px 4px 0px;
}
.cell:first-of-type {
	--radius: 0px 0px 0px 4px;
}

.correct {
	background: var(--color-success);
	border-color: var(--color-success);
	color: white;
}
.incorrect {
	background: var(--color-gray-300);
	border-color: var(--color-gray-300);
	color: white;
}
.misplaced {
	background: var(--color-warning);
	border-color: var(--color-warning);
	color: white;
}
